@page
@model asp_presentacion.Pages.Ventanas.InventariosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Inventarios</h3>
            </div>

            <div align="left" class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }

            @* CAMPOS OCULTOS PARA BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Nombre" />
                <input type="hidden" asp-for="@Model.Actual!.Cantidad" />
                <input type="hidden" asp-for="@Model.Actual!.Estado" />
                <input type="hidden" asp-for="@Model.Actual!.Finca" />
            }

            @* FORMULARIO EDITAR / NUEVO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Inventario</h3>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Finca</label>
                        <div class="col-lg-6">
                            <select asp-for="@Model.Actual!.Finca" class="cts_forms form-control">
                                <option value="">Seleccione una finca</option>
                                @foreach (var finca in Model.ListaFincas!)
                                {
                                    <option value="@finca.Id">@finca.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nombre" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Cantidad</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Cantidad" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Estado</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Estado" />
                        </div>
                    </div>
                </div>
            }

            @* MENSAJES *@
            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @* POPUP BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <h2 align="left">Mensaje</h2>
                        <h4 align="left">¿Desea borrar este inventario?</h4>
                        <h6 align="left">@Model.Actual!.Nombre</h6>

                        <br /><br />

                        <input type="submit" value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />

                        <input type="submit" value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                    </div>
                </div>
            }

            @* LISTADO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {

                <label>Filtrar por Finca:</label>
                <select asp-for="@Model.Filtro!.Finca" class="cts_forms form-control">
                    <option value="">Todas</option>
                    @foreach (var finca in Model.ListaFincas!)
                    {
                        <option value="@finca.Id">@finca.Nombre</option>
                    }
                </select>

                <label>Filtrar por Nombre:</label>
                <input class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Nombre"
                       placeholder="Buscar por Nombre" />

                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>Finca</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th class="cl_actions">Acciones</th>
                        </tr>

                        @if (Model.Lista != null)
                        {
                            foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>@elemento._Finca?.Nombre</td>
                                    <td>@elemento.Nombre</td>
                                    <td>@elemento.Cantidad</td>
                                    <td>@elemento.Estado</td>

                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />

                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
