@page
@model asp_presentacion.Pages.Ventanas.PagosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Pagos</h3>
            </div>

            <div align="left" class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }

            @* CAMPOS OCULTOS EN BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Reserva" />
                <input type="hidden" asp-for="@Model.Actual!.Monto" />
                <input type="hidden" asp-for="@Model.Actual!.FechadePago" />
                <input type="hidden" asp-for="@Model.Actual!.Metodo" />
            }

            @* FORM EDITAR/NUEVO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Pago</h3>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Reserva (ID)</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Reserva" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Monto</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Monto" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fecha de Pago</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control" type="date"
                                   asp-for="@Model.Actual!.FechadePago" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Método</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Metodo" />
                        </div>
                    </div>
                </div>
            }

            @* MENSAJES *@
            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @* POPUP BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <h2 align="left">Mensaje</h2>
                        <h4 align="left">¿Desea borrar este pago?</h4>
                        <h6 align="left">Monto: @Model.Actual!.Monto</h6>

                        <br /><br />

                        <input type="submit" value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />

                        <input type="submit" value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                    </div>
                </div>
            }

            @* LISTADO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <label>Fecha de Pago:</label>
                <input class="cts_forms form-control" type="date"
                       asp-for="@Model.Filtro!.FechadePago" />

                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>Reserva</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Método</th>
                            <th class="cl_actions">Acciones</th>
                        </tr>

                        @if (Model.Lista != null)
                        {
                            foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>@elemento.Reserva</td>
                                    <td>@elemento.Monto</td>
                                    <td>@elemento.FechadePago.ToShortDateString()</td>
                                    <td>@elemento.Metodo</td>

                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />

                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
