@page
@model asp_presentacion.Pages.Ventanas.PromocionesModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Promociones</h3>
            </div>

            <div align="left" class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }

            @* CAMPOS OCULTOS EN BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Nombre" />
                <input type="hidden" asp-for="@Model.Actual!.Descuento" />
                <input type="hidden" asp-for="@Model.Actual!.FechaInicio" />
                <input type="hidden" asp-for="@Model.Actual!.FechaFin" />
                <input type="hidden" asp-for="@Model.Actual!.Estado" />
            }

            @* FORM EDITAR / NUEVO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Promoción</h3>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nombre" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Descuento (%)</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Descuento" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fecha Inicio</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control" type="date"
                                   asp-for="@Model.Actual!.FechaInicio" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Fecha Fin</label>
                        <div class="col-lg-6">
                            <input class="cts_forms form-control" type="date"
                                   asp-for="@Model.Actual!.FechaFin" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">Estado</label>
                        <div class="col-lg-6">
                            <select asp-for="@Model.Actual!.Estado" class="cts_forms form-control">
                                <option value="true">Activa</option>
                                <option value="false">Inactiva</option>
                            </select>
                        </div>
                    </div>
                </div>
            }

            @* MENSAJES *@
            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }

            @* POPUP BORRAR *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <h2 align="left">Mensaje</h2>
                        <h4 align="left">¿Desea borrar esta promoción?</h4>
                        <h6 align="left">@Model.Actual!.Nombre</h6>

                        <br /><br />

                        <input type="submit" value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />

                        <input type="submit" value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                    </div>
                </div>
            }

            @* LISTADO *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <label>Buscar por Nombre:</label>
                <input class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Nombre"
                       placeholder="Nombre de la promoción" />

                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th>Descuento</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Estado</th>
                            <th class="cl_actions">Acciones</th>
                        </tr>

                        @if (Model.Lista != null)
                        {
                            foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>@elemento.Nombre</td>
                                    <td>@elemento.Descuento %</td>
                                    <td>@elemento.FechaInicio.ToShortDateString()</td>
                                    <td>@elemento.FechaFin.ToShortDateString()</td>
                                    <td>@(elemento.Estado ? "Activa" : "Inactiva")</td>

                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />

                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
